:root {
	--color-red: #ed1c24;
	--color-white: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	background: url('./PNG/game_background_2/game_background_2.png') center center
		no-repeat;
	background-size: 110% 110%;
	position: relative;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	height: 40px;
	width: 100%;
	background: rgba(11, 88, 50, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #cecece;
	padding: 0 40px;
}

.form {
	position: absolute;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	max-width: 400px;
	height: 200px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.username-field {
	padding: 10px 20px;
	font-size: 1.5rem;
}

.button {
	border: none;
	padding: 10px 20px;
	font-size: 1.5rem;
	color: var(--color-white);
	background-color: var(--color-red);
	cursor: pointer;
	transition: box-shadow 0.1s ease;
}

.button:hover {
	box-shadow: 2px 0px 5px #444;
}
