:root {
	--color-red: #ed1c24;
	--color-white: #fff;
	--color-yellow: #ffcc33;
	--color-blue: #1c9bef;
	--text-shadow: #333 0px 1px 4px;
	--border-radius: 4px;

	--scrollbarBgColor: rgba(255, 255, 255, 0.2);
	--scrollbarThumbColor: var(--color-blue);
	--scrollbarThumbColorSecond: var(--color-blue);
	--scrollbarWidth: 10px;
	--scrollbarBorder: 0 solid var(--scrollbarBgColor);
	--scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

.chat-list {
	scrollbar-width: var(--scrollbarWidth);
	scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor);
}
.chat-list::-webkit-scrollbar {
	width: var(--scrollbarWidth);
}
.chat-list::-webkit-scrollbar-track {
	background: var(--scrollbarBgColor);
	border-radius: var(--scrollbarBorderRadius);
}
.chat-list::-webkit-scrollbar-thumb {
	background-color: var(--scrollbarThumbColor);
	border-radius: var(--scrollbarBorderRadius);
	border: var(--scrollbarBorder);
	background-image: linear-gradient(
		180deg,
		var(--scrollbarThumbColor) 0%,
		var(--scrollbarThumbColorSecond) 90%
	);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

body {
	width: 100vw;
	height: 100vh;
	position: relative;
	font-family: 'Roboto', sans-serif;
	background: url('./assets/tilingsprites/second_1-1920.webp') center center
		no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}

.footer {
	display: none;

	&.visible {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 4px;
		color: #cecece;
		padding: 0 40px;
		font-size: 12px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		height: 40px;
		width: 100%;
		background: rgba(11, 88, 50, 0.2);
	}
}

.footer-count p {
	position: relative;
}

.footer-count p::before {
	content: ' ';
	position: absolute;
	left: -10px;
	top: 5px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
}

.footer-count p:nth-child(1)::before {
	background: #698100;
}

.footer-count p:nth-child(2)::before {
	background: #008100;
}

.form {
	position: relative;
	margin: 20px;
	max-width: 400px;
	width: 400px;
	height: 500px;
	background: linear-gradient(15deg, #ccc, #fff);
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	color: #111;
	box-shadow: var(--text-shadow);
}

fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-profile {
	text-align: center;
}
.form-id {
	font-size: 12px;
}

.form .form-title {
	justify-self: flex-start;
	text-transform: uppercase;
}

.form .form-title,
.form .form-link {
	text-align: center;
}

.form .form-link {
	color: var(--color-red);
	text-align: center;
	text-decoration: none;
	padding: 16px 30px 2px;
	max-width: max-content;
	align-self: center;
	font-size: 12px;
	border-bottom: 1px solid #a5a5a5;
}

.form.error::after {
	position: absolute;
	bottom: -28px;
	left: 0;
	right: 0;
	margin: auto;
	content: 'Ошибка';
	width: inherit;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: inherit;
}

.profile-form {
	overflow: hidden;
}

.field {
	padding: 10px 4px;
	font-size: 1.2rem;
	width: 100%;
}

.button {
	border: none;
	padding: 10px 20px;
	font-size: 1.5rem;
	color: var(--color-white);
	background-color: var(--color-red);
	cursor: pointer;
	transition: box-shadow 0.1s ease;
}

.button:not(:disabled):hover {
	box-shadow: 2px 0px 5px #444;
}

.button:disabled {
	pointer-events: none;
	opacity: 0.4;
}

.form-tabs {
	display: flex;
	flex-direction: row;
	gap: 2px;
}

.form-tabs input[type='radio'] {
	display: none;
}

.form-tabs label {
	border-bottom: 1px solid transparent;
	transition: border 0.2s ease;
	padding: 0 6px;
	margin: 0;
	cursor: pointer;
}

.form-tabs label:has(input:checked) {
	border-bottom: 1px solid var(--color-red);
	transition: border 0.2s ease;
}

.form-body {
	position: relative;
	width: 200%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.3s ease 0.3s;
}

.form-body__tab {
	position: absolute;
	width: 50%;
	top: 0;
	opacity: 1;
	padding: 0 20px;
	transform: all 0.1s ease 0.4;
}

.form-body__tab:last-child {
	right: 0;
}

.form-body__profile {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-body__list {
	padding: 0 0 0 30px;
	display: flex;
	flex-direction: column;
	gap: 2px 0;
}

.form-body__title {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 6px;
	gap: 4px;
}

.form-body__title span {
	width: 60px;
	background: #ccc;
	font-size: 12px;
}

.list-item {
	padding: 0 0 0 2px;
}

.list-item:nth-child(even) {
	background: #ccc;
}

.list-item__body {
	display: grid;
	grid-template-columns: 1fr 60px 60px;
	text-transform: uppercase;
}

.list-item__level {
	position: relative;
}

.list-item__level::before {
	content: '';
	position: absolute;
	left: -24px;
	top: 1px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
}

.list-item:nth-child(1) .list-item__level::before,
.list-item:nth-child(2) .list-item__level::before,
.list-item:nth-child(3) .list-item__level::before {
	border: 1px solid #444;
}

.list-item:nth-child(1) .list-item__level::before {
	background-color: gold;
}

.list-item:nth-child(2) .list-item__level::before {
	background-color: silver;
}

.list-item:nth-child(3) .list-item__level::before {
	background-color: #cd7f32;
}

.form-body__title {
	text-align: center;
}

.form:has(.stat:checked) .form-body {
	transform: translate(-50%);
}

.form:has(.stat:checked) .form-body__tab:first-child {
	opacity: 0;
	transform: translate(-50%);
	transition: all 0.1s ease;
}

.form:has(.profile:checked) .form-body__tab:last-child {
	opacity: 0;
	transform: translate(50%);
	transition: all 0.1s ease;
}

.tab-title {
	margin: 16px 0 14px;
}

.list-item__username {
	font-size: 14px;
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: linear-gradient(15deg, #ccc, #fff);
}

.animation {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.animation .billy {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.image-shadow {
	width: 80px;
	height: 7px;
	background-color: #323232;
	border-radius: 50%;
	animation: shadow infinite 3.5s ease;
}

.animation .image {
	width: 300px;
	height: 400px;
	background: url('./assets/person/person-234.webp') no-repeat center center;
	animation: airbill infinite 3.5s ease;
}

@keyframes shadow {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	53% {
		opacity: 0.4;
	}

	55% {
		opacity: 0.7;
	}

	60% {
		width: 130px;
		opacity: 0.7;
	}

	70% {
		width: 60px;
		opacity: 0.4;
	}

	80% {
		width: 120px;
		opacity: 0.7;
	}

	81% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes airbill {
	0% {
		transform: translate(-120vw);
	}

	50% {
		transform: translate(0%);
	}

	60% {
		transform: translate(0%, 20%);
	}

	70% {
		transform: translate(0%, -20%);
	}

	80% {
		transform: translate(0%, 0%);
	}

	100% {
		transform: translate(120vw);
	}
}

.burger {
	width: 50px;
	height: 46px;
	position: absolute;
	bottom: 50px;
	right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	cursor: pointer;
	background: linear-gradient(#85b2c0, #db8f8f);
	border: 1px solid var(--color-white);
	transition: border 0.1s ease;
	display: none;
}

.burger.visible {
	display: flex;
}

.burger:hover {
	border: 1px solid var(--color-yellow);
	transition: border 0.1s ease;
}

.burger span {
	width: 100%;
	height: 3px;
	background-color: #fff;
	position: relative;
	margin-left: 2px;

	&::before {
		content: '';
		position: absolute;
		left: -5px;
		top: 0;
		width: 3px;
		height: 3px;
		background-color: #fff;
	}
}

.burger.active::before {
	content: attr(data-count);
	position: absolute;
	left: -16px;
	top: -16px;
	border-radius: 50%;
	background-color: var(--color-blue);
	font-size: 10px;
	width: 18px;
	height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--text-shadow);
	color: var(--color-white);
}

.dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.8);
}

.dialog {
	width: 100%;
	max-width: 1400px;
	margin: auto;
	padding: 0;
	outline: none;
	border: none;
	padding: 2rem;
	background: linear-gradient(#85b2c0, #db8f8f);

	& .dialog-title {
		text-align: center;
		line-height: 1.5;
		color: var(--color-yellow);
		text-shadow: var(--text-shadow);
	}
}

.dialog-content {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
	gap: 8px;
}

.dialog-image {
	box-shadow: var(--text-shadow);
	max-width: 340px;
	background: linear-gradient(-45deg, #ccc, #fff);
}

.dialog-container {
	grid-column: 2/4;
	box-shadow: var(--text-shadow);
	background: linear-gradient(45deg, #ccc, #fff);
	padding: 10px 20px;
}

.options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	padding: 0 20px;
	& .dialog-title {
		grid-column: 1/4;
	}
}

.options-keyboard {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	& .key {
		width: 100%;
		height: 60px;
		display: flex;
		align-items: center;
		gap: 35px;
	}
}

.key-btn {
	min-width: 50px;
	padding: 20px;
	width: max-content;
	height: 50px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: var(--text-shadow);
	border-radius: var(--border-radius);
	background-color: var(--color-white);

	&::after {
		content: '';
		position: absolute;
		top: 24px;
		right: -30px;
		width: 40px;
		height: 2px;
		background-color: var(--color-yellow);
	}
}

.key-title {
	text-transform: uppercase;
}

.dialog-chat {
	max-height: 360px;
	grid-column: 1/4;
	box-shadow: var(--text-shadow);
	background: linear-gradient(180deg, #ccc, #fff);
}

.chat-list {
	height: 260px;
	padding: 10px 20px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
	border: 6px solid #c3c3c3;
}

.chat-message {
	padding: 10px;
	width: 60%;
	height: max-content;
	background-color: var(--color-white);
	border-radius: var(--border-radius);
	align-self: flex-end;
	& .chat-message-user {
		font-weight: bold;
		line-height: 1.8;
		text-transform: uppercase;
	}
}

.chat-message.active {
	align-self: flex-start;
	color: var(--color-white);
	background-color: var(--color-blue);
}

.chat-form {
	display: flex;
	padding: 10px 20px;
	gap: 10px;
	background-color: #fff;
	box-shadow: var(--text-shadow);
}

.chat-form .btn {
	width: 140px;
	background-color: var(--color-yellow);
	border: none;
	cursor: pointer;
	box-shadow: var(--text-shadow);
}

.chat-message-body {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.chat-message-body-time {
	align-self: flex-end;
	justify-content: flex-end;
}

.chat-message-body-text {
	max-width: inherit;
	overflow-wrap: break-word;
}

.content {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	perspective: 1000px;
}

.content-block {
	transform: rotateY(30deg);
}

.primary-view {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 60px;
}

.content__description {
	line-height: 20px;
	font-size: 14px;
	color: #212174;
	text-shadow: var(--color-yellow) 0px 0px 4px;
	padding: 12px 0 0 0;
}

.content__title {
	text-transform: uppercase;
	color: var(--color-red);
	text-shadow: var(--text-shadow);
	text-align: center;
	font-size: 40px;
}

.primary-view__image {
	animation: primary 2s linear infinite;
	max-width: 120px;
}

.copyright a {
	color: var(--color-white);
	text-decoration: none;

	&:hover {
		opacity: 0.7;
	}
}

@keyframes primary {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(10%);
	}
	100% {
		transform: translateY(0%);
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.dialog-form {
	display: flex;
	justify-content: center;
	gap: 30px;
	align-items: center;
	padding: 10px;
	& label {
		display: block;
		width: 40px;
		height: 40px;
		background-color: var(--color-blue);
		border-radius: var(--border-radius);
		cursor: pointer;
		padding: 8px;
	}

	& svg {
		fill: var(--color-white);
		box-shadow: var(--text-shadow);
		transition: all 0.1s ease;
		&:focus {
			outline: none;
		}
	}

	& label:has(input:disabled) {
		opacity: 0.4;
		cursor: auto;
	}

	& label:has(input:checked) {
		background-color: #dfc222;
		box-shadow: var(--text-shadow);

		& svg {
			fill: var(--color-red);
			transition: all 0.1s ease;
		}
	}
}

.player-count {
	text-align: center;
	margin-top: 2rem;
	color: var(--color-yellow);
	text-shadow: var(--text-shadow);
}

.store {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.store-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
	height: 300px;
	margin: 10px 0;
}

.store-item {
	position: relative;
	flex: 1;
	height: 100%;
	background: linear-gradient(-45deg, var(--color-blue), #212174);
	box-shadow: var(--text-shadow);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.store-card__lock {
	position: absolute;
	display: none;
	fill: var(--color-blue);
	width: 160px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.store-item.disabled {
	& .store-card__lock {
		display: block;
		z-index: 1;
	}
	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.6);
	}
}

.store-balance {
	align-self: center;
	background: linear-gradient(-45deg, var(--color-blue), #212174);
	padding: 6px 100px;
	text-align: center;
	font-weight: 600;
	color: var(--color-white);
	text-shadow: var(--text-shadow);
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 1.5rem;
	border-radius: var(--border-radius);
	& img {
		max-width: 20px;
	}
}

.store-card {
	height: 240px;
	width: 100%;
	background: linear-gradient(-45deg, #ccc, #fff);
	display: flex;
	justify-content: center;
	align-items: center;

	& .store-card__image {
		max-width: 160px;
	}
}

.store-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	font-weight: bold;
	padding: 4px 30px;
	font-size: 1.5rem;
	border: none;
	cursor: pointer;
	color: var(--color-white);
	text-shadow: var(--text-shadow);
	background: var(--color-red);
	max-width: 86%;
	width: 100%;
	& img {
		max-width: 20px;
	}

	&:hover {
		box-shadow: var(--text-shadow);
	}
}

.dialog-container {
	position: relative;
}

.pagination {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.pagination-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

.pagination-item {
}

.pagination-btn {
	padding: 4px;
}

.profile-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 1.8rem;
	color: var(--color-white);
	text-shadow: var(--text-shadow);
}
